@model USP.Business.Models.ContentModels.IBaseForm

@if (Model == null)
{
    return;
}

@if (!string.IsNullOrEmpty(Model.SubHeading))
{
    <h3 class="mb-20" aria-label="sub heading area">@Model.SubHeading</h3>
}
@if (Model.TextInformation != null)
{
    <p class="form-details" aria-label="form details info">@Html.Raw(Model.TextInformation)</p>
}
