@model USP.Business.Models.Form.FormProgressBar

<div class="progress-wrapper">
    <div class="progress-bar">
        <span style="width: @Model.ProgressBarWidth%"></span>
    </div>
    <p class="progress-text">@Model.ProgressBarWidth% completed</p>
</div>
