@using USP.Business.Extensions
@using USP.Business.Models.ContentModels
@using Umbraco.Web.Models
@using USP.Business.Constants
@inherits UmbracoViewPage<WidgetImage>

@if (Model == null || Model.Image == null)
{
    return;
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2" role="img" aria-label="image area">


            @if (!string.IsNullOrWhiteSpace(Model.Title))
            {
                <h2>@Model.Title</h2>
            }
            <figure class="image-caption">
    
                @Html.LazyImage(Model.Image, aspect: SiteConstants.Crops.AspectRatio.SixteenToNine)
    
                @if (!string.IsNullOrWhiteSpace(Model.Caption))
                {
                    <figcaption>@Model.Caption</figcaption>
                }
            </figure>


        </div>
    </div>
</div>
