@using USP.Business.Controllers.Pages
@using USP.Business.Models.ContentModels
@inherits UmbracoViewPage<PageForgottenPassword>

@if (Model == null)
{
    return;
}

@using (Html.BeginUmbracoForm<PageForgottenPasswordController>("HandleForgottenPassword"))
{
    <div class="form__check">
        @if (!string.IsNullOrEmpty(Model.LabelEmail))
        {
            @Html.LabelFor(model => model.EmailAddress, Model.LabelEmail)
        }
        @Html.TextBoxFor(model => model.EmailAddress)
        @Html.ValidationMessageFor(model => model.EmailAddress)
    </div>

    if (!string.IsNullOrEmpty(Model.TextSendButton))
    {
        <p>
            <input type="submit" class="btn btn-inline" value="@Model.TextSendButton">
        </p>
    }
}
