<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to create your own index sets.
Index/Search providers can be defined in the UmbracoSettings.config

More information and documentation can be found on GitHub: https://github.com/Shazwazza/Examine/
-->
<ExamineLuceneIndexSets>
  <!-- The internal index set used by Umbraco back-office - DO NOT REMOVE -->
  <IndexSet SetName="InternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/Internal/"/>

  <!-- The internal index set used by Umbraco back-office for indexing members - DO NOT REMOVE -->
  <IndexSet SetName="InternalMemberIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/InternalMember/">
    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeName"/>
      <add Name="updateDate" />
      <add Name="writerName" />
      <add Name="loginName" />
      <add Name="email" />
      <add Name="nodeTypeAlias" />
    </IndexAttributeFields>
  </IndexSet>

  <!-- Default Indexset for external searches, this indexes all fields on all types of nodes-->
  <IndexSet SetName="ExternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/External/" />

  <!--  Precedent Base Custom Index-->
  <IndexSet SetName="GlobalSearch" IndexPath="~/App_Data/TEMP/ExamineIndexes/GlobalSearch/">
    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeName"/>
      <add Name="updateDate" />
      <add Name="writerName" />
      <add Name="nodeTypeAlias" />
      <add Name="path" />
    </IndexAttributeFields>

    <IndexUserFields>
      <add Name="hideFromSearch"/>
      <add Name="bannerHeading" Type="String" EnableSorting="true"/>
      <add Name="bannerSummary"/>
      <add Name="mainContent"/>
      <add Name="mainContentPlaceholder"/>

      <!--  Course Fields -->
      <add Name="courseType"/>
      <add Name="courseLevel"/>
      <add Name="awardingBody"/>
      <add Name="careerSector"/>
      <add Name="startDate"/>
      <add Name="campus"/>
      <add Name="eventType"/>
      <add Name="taxonomyId"/>
      <add Name="taxonomyName"/>
      <add Name="qualification"/>

      <!--  News & Blog Fields -->
      <add Name="newsTopics"/>
      <add Name="blogTopics"/>
      <add Name="blogAuthor"/>
      <add Name="publishedDate"/>
      <add Name="expandedPath"/>

      <add Name="sortCourseLevel" Type="String" EnableSorting="true" />
      <add Name="sortCampus" Type="String" EnableSorting="true" />
      <add Name="sortEventType" Type="String" EnableSorting="true" />
      <add Name="sortSubjectArea" Type="String" EnableSorting="true" />
      <add Name="sortDate" Type="String" EnableSorting="true" />
      <add Name="sortBannerHeadingDesc" Type="INT" EnableSorting="true" />
      <add Name="sortAuthor" Type="String" EnableSorting="true" />

      <add Name="filterStartDate" Type="String" EnableSorting="true" />
      <add Name="filterEndDate" Type="String" EnableSorting="true" />

    </IndexUserFields>

    <IncludeNodeTypes>
      <add Name="pageContent" />
      <add Name="pageLanding" />
      <add Name="pageCourseDetail" />
      <add Name="pageCareerDetail" />
      <add Name="pageEventDetail" />
      <add Name="pageNewsDetail" />
      <add Name="pageBlogDetail" />
      <add Name="pageBlogListing" />
      <add Name="pageNewsListing" />
      <add Name="pageEventListing" />
      <add Name="pageCourseListing" />
    </IncludeNodeTypes>
  </IndexSet>

</ExamineLuceneIndexSets>