<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <Nodes>
  </Nodes>

  <FieldNames>
  </FieldNames>

  <Global>
  </Global>

  <DocTypeAlias>
    <Item name="Home" value="pageHome" />
    <Item name="PageContent" value="pageContent" />
    <Item name="PageLanding" value="pageLanding" />
  </DocTypeAlias>

  <Settings>
    <Item name="YouTube:ApiKey" value="AIzaSyCAsoBxI6dN_P3ERTUhY4JXzeDCzliawwA" desc="YouTube API Key used for video playlist widget" />
    <Item name="GoogleMap:ApiKey" value="#{GoogleMapApiKey}" desc="Google API Key used for maps" />
    <Item name="Addthis:AccountKey" value="ra-5bb4b65dc4a8fb7d" desc="Account for share options" />
  </Settings>
  
</Settings>