<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<Settings xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <Settings>
    <Item name="GOOGLE:ApiKey" value="AIzaSyBXrlseUu6AkIDPofcvVN7ftJPQOMHD-5o" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <Item name="YouTube:ApiKey" value="AIzaSyB3cKRY8fwfoUf_9cRHNyE3VD7lA18uQzc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <Item name="Addthis:AccountKey"  value="ra-5a0491a0e4779d03" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </Settings>
</Settings>