.dropbtn {
    background-color: #3ec2cf;
    color: white;
    padding: 10px;
    font-size: 32px !important;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0 5px 5px 0;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #db623c;
}
.newDropdown {
    position: fixed;
    z-index: 9999;
    top: 100px;
}
.newDropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 207px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    margin-top: -1px;
}
.newDropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}
.newDropdown a:hover,
.newDropdown a:hover .fa {
    /*background-color: #c6c6c6 !important;*/   /*Temporary for side menu active class*/
    /*color: #1b25e5;*/
}
.activeSideMenu,
.activeSideMenu .fa {
    background: #287AB3 !important;
}
/*@media only screen and (max-width: 1023px) {*/    /*Temporary for side menu active class*/
@media only screen and (min-width: 1023px) {
    .newDropdown a:hover,
    .newDropdown a:hover .fa {
        /*background: #287AB3 !important;*/ /* color: #1b25e5; */ /*Temporary for side menu active class*/
        background-color: #c6c6c6 !important;
    }
}
.show {
    display: block;
}
/* Font Adjust CSS*/
body.usp-resize-font-115 {
    font-size: 115% !important;
    line-height: normal;
    /*line-break: anywhere;*/
}
body.usp-resize-font-120 {
    font-size: 120% !important;
    line-height: normal;
    /*line-break: anywhere;*/
}
body.usp-resize-font-125 {
    font-size: 125% !important;
    line-height: normal;
    /*line-break: anywhere;*/
}
body.usp-readable-font,
body.usp-readable-font h1,
body.usp-readable-font h2,
body.usp-readable-font h3,
body.usp-readable-font h4,
body.usp-readable-font .timeline dt,
body.usp-readable-font .header .menu__primary li a,
body.usp-readable-font .hero-home__headline,
body.usp-readable-font .blockquote footer .author,
body.usp-readable-font .results__head label,
body.usp-readable-font .select-wrapper select,
body.usp-readable-font .points__system .select-wrapper select {
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
}
body.usp-resize-font-115 h1 {
    font-size: 61px !important;
    line-height: normal !important;
}
body.usp-resize-font-115 h2 {
    font-size: 40px !important;
    line-height: normal !important;
}
body.usp-resize-font-115 h3 {
    font-size: 28px !important;
    line-height: normal !important;
}
body.usp-resize-font-115 h4 {
    font-size: 22px !important;
    line-height: normal !important;
}

body.usp-resize-font-120 h1 {
    font-size: 65px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 h2 {
    font-size: 44px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 h3 {
    font-size: 32px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 h4 {
    font-size: 26px !important;
    line-height: normal !important;
}

body.usp-resize-font-125 h1 {
    font-size: 69px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 h2 {
    font-size: 48px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 h3 {
    font-size: 36px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 h4 {
    font-size: 30px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 p {
    font-size: 18px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 p {
    font-size: 22px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 p {
    font-size: 26px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 p.hero-home__headline {
    font-size: 22px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 p.hero-home__headline {
    font-size: 26px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 p.hero-home__headline {
    font-size: 30px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .hero-home__headline p {
    font-size: 22px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .hero-home__headline p {
    font-size: 26px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .hero-home__headline p {
    font-size: 30px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .hero-home__content__icon h2 {
    font-size: 22px !important;
    line-height: normal !important;
    line-break: anywhere !important;
}
body.usp-resize-font-120 .hero-home__content__icon h2 {
    font-size: 26px !important;
    line-height: normal !important;
    line-break: anywhere !important;
}
body.usp-resize-font-125 .hero-home__content__icon h2 {
    font-size: 30px !important;
    line-height: normal !important;
    line-break: anywhere !important;
}

body.usp-resize-font-115 .spotlight__fullwidth h2,
body.usp-resize-font-115 .spotlight-tertiary div:first-child h2 {
    font-size: 60px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .spotlight__fullwidth h2,
body.usp-resize-font-120 .spotlight-tertiary div:first-child h2 {
    font-size: 64px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .spotlight__fullwidth h2,
body.usp-resize-font-125 .spotlight-tertiary div:first-child h2 {
    font-size: 68px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .spotlight-tertiary a h3 {
    font-size: 24px !important;
    line-height: normal !important;
    line-break: anywhere !important;
}
body.usp-resize-font-120 .spotlight-tertiary a h3 {
    font-size: 28px !important;
    line-height: normal !important;
    line-break: anywhere !important;
}
body.usp-resize-font-125 .spotlight-tertiary a h3 {
    font-size: 32px !important;
    line-height: normal !important;
    line-break: anywhere !important;
}

body.usp-resize-font-115 table:not(.pika-table) tbody tr td {
    font-size: 16px !important;
    line-height: normal !important;
    
}
body.usp-resize-font-120 table:not(.pika-table) tbody tr td {
    font-size: 20px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 table:not(.pika-table) tbody tr td {
    font-size: 24px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .header .menu__dropdown__part > ul > li > a {
    font-size: 18px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .header .menu__dropdown__part > ul > li > a {
    font-size: 22px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .header .menu__dropdown__part > ul > li > a {
    font-size: 26px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .header .menu__dropdown__part > ul > li > ul > li > a {
    /*font-size: 20px !important;*/ /*Sujay*/
    font-size: 16px !important; /*Sujay*/
    line-height: normal !important;
}
body.usp-resize-font-120 .header .menu__dropdown__part > ul > li > ul > li > a {
    /*font-size: 24px !important;*/ /*Sujay*/
    font-size: 18px !important; /*Sujay*/
    line-height: normal !important;
}
body.usp-resize-font-125 .header .menu__dropdown__part > ul > li > ul > li > a {
    /*font-size: 28px !important;*/ /*Sujay*/
    font-size: 20px !important; /*Sujay*/
    line-height: normal !important;
}

body.usp-resize-font-115 .footer h2,
body.usp-resize-font-115 .footer address {
    font-size: 18px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .footer h2,
body.usp-resize-font-120 .footer address {
    font-size: 22px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .footer h2,
body.usp-resize-font-125 .footer address {
    font-size: 26px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .footer__main-nav {
    font-size: 20px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .footer__main-nav {
    font-size: 24px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .footer__main-nav {
    font-size: 28px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .statistic .statistic-wrapper .statistic-item__number {
    font-size: 60px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .statistic .statistic-wrapper .statistic-item__number {
    font-size: 64px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .statistic .statistic-wrapper .statistic-item__number {
    font-size: 68px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .breadcrumb-list li {
    font-size: 18px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .breadcrumb-list li {
    font-size: 22px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .breadcrumb-list li {
    font-size: 26px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .breadcrumb-list li:after {
    top: 28% !important;
}
body.usp-resize-font-120 .breadcrumb-list li:after {
    top: 36% !important;
    font-size: 16px;
}
body.usp-resize-font-125 .breadcrumb-list li:after {
    top: 45% !important;
    font-size: 18px;
}


body.usp-resize-font-115 .form__check__label {
    font-size: 18px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .form__check__label {
    font-size: 22px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .form__check__label {
    font-size: 26px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .points__system .select-wrapper select,
body.usp-resize-font-115 .select-wrapper select {
    font-size: 18px !important;
}
body.usp-resize-font-120 .points__system .select-wrapper select,
body.usp-resize-font-120 .select-wrapper select {
    font-size: 20px !important;
}
body.usp-resize-font-125 .points__system .select-wrapper select,
body.usp-resize-font-125 .select-wrapper select {
    font-size: 22px !important;
}

body.usp-resize-font-115 .select-wrapper:after {
    top: 17px;
}
body.usp-resize-font-120 .select-wrapper:after {
    top: 18px;
}
body.usp-resize-font-125 .select-wrapper:after {
    top: 20px;
}

body.usp-resize-font-115 .form__check__label span.aflabetic {
    font-size: 28px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .form__check__label span.aflabetic {
    font-size: 30px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .form__check__label span.aflabetic {
    font-size: 36px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .points__grades .form__check input {
    font-size: 18px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .points__grades .form__check input {
    font-size: 20px !important;
    line-height: normal !important;
    padding: 0.75rem 1rem !important;
}
body.usp-resize-font-125 .points__grades .form__check input {
    font-size: 22px !important;
    line-height: normal !important;
    padding: 0.75rem 1rem !important;
}

body.usp-resize-font-115 .points__grades-calc {
    font-size: 20px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .points__grades-calc {
    font-size: 24px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .points__grades-calc {
    font-size: 28px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .points__grades-calc .grade-calc {
    font-size: 44px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .points__grades-calc .grade-calc {
    font-size: 48px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .points__grades-calc .grade-calc {
    font-size: 52px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .checkbox label {
    font-size: 18px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .checkbox label {
    font-size: 20px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .checkbox label {
    font-size: 22px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .sidebar-filter__section__head {
    font-size: 23px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .sidebar-filter__section__head {
    font-size: 26px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .sidebar-filter__section__head {
    font-size: 29px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .form__check input {
    font-size: 18px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .form__check input {
    font-size: 20px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .form__check input {
    font-size: 22px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 select.sort-by {
    font-size: 18px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 select.sort-by {
    font-size: 20px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 select.sort-by {
    font-size: 22px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 p.under-headline {
    font-size: 22px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 p.under-headline {
    font-size: 26px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 p.under-headline {
    font-size: 30px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .form__check label {
    font-size: 22px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .form__check label {
    font-size: 26px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .form__check label {
    font-size: 30px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .results__head label {
    font-size: 39px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .results__head label {
    font-size: 42px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .results__head label {
    font-size: 45px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 p span {
    font-size: 18px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 p span {
    font-size: 22px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 p span {
    font-size: 26px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .hero-home__headline {
    font-size: 22px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .hero-home__headline {
    font-size: 26px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .hero-home__headline {
    font-size: 30px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .spotlight__fullwidth .spotlight-details p,
body.usp-resize-font-115 .spotlight__fullwidth .spotlight-details span {
    font-size: 24px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .spotlight__fullwidth .spotlight-details p,
body.usp-resize-font-120 .spotlight__fullwidth .spotlight-details span {
    font-size: 28px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .spotlight__fullwidth .spotlight-details p,
body.usp-resize-font-125 .spotlight__fullwidth .spotlight-details span {
    font-size: 32px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .step-nav {
    font-size: 20px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .step-nav {
    font-size: 24px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .step-nav {
    font-size: 28px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .cookie-banner--page input[type="checkbox"].switch + label {
    font-size: 17px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .cookie-banner--page input[type="checkbox"].switch + label {
    font-size: 20px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .cookie-banner--page input[type="checkbox"].switch + label {
    font-size: 23px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .listing-item__details h3 a span,
body.usp-resize-font-115 .related-item__details h3 a span {
    font-size: 20px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .listing-item__details h3 a span,
body.usp-resize-font-120 .related-item__details h3 a span {
    font-size: 24px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .listing-item__details h3 a span,
body.usp-resize-font-125 .related-item__details h3 a span {
    font-size: 28px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 table:not(.pika-table) tbody tr td span {
    font-size: 17px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 table:not(.pika-table) tbody tr td span {
    font-size: 20px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 table:not(.pika-table) tbody tr td span {
    font-size: 23px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .timeline dt {
    font-size: 25px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .timeline dt {
    font-size: 28px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .timeline dt {
    font-size: 31px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .timeline dd {
    font-size: 17px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .timeline dd {
    font-size: 20px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .timeline dd {
    font-size: 23px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .form-success-tick {
    font-size: 67px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .form-success-tick {
    font-size: 70px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .form-success-tick {
    font-size: 73px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .hero-search__form .search input[type="search"] {
    font-size: 14px !important;
    line-height: normal !important;
}
body.usp-resize-font-120 .hero-search__form .search input[type="search"] {
    font-size: 16px !important;
    line-height: normal !important;
}
body.usp-resize-font-125 .hero-search__form .search input[type="search"] {
    font-size: 18px !important;
    line-height: normal !important;
}

body.usp-resize-font-115 .header .menu__primary, 
body.usp-resize-font-115 .header .menu__secondary {
    font-size: 16px !important;   /* Sujay - instead of 14*/
    line-height: normal !important;
}
body.usp-resize-font-120 .header .menu__primary,
body.usp-resize-font-120 .header .menu__secondary {
    font-size: 18px !important; /* Sujay - instead of 16*/
    line-height: normal !important;
}
body.usp-resize-font-125 .header .menu__primary,
body.usp-resize-font-125 .header .menu__secondary {
    font-size: 20px !important; /* Sujay - instead of 18*/
    line-height: normal !important;
}

/* Font Adjust CSS*/
body.usp-resize-font-115 .spotlight__description,
body.usp-resize-font-120 .spotlight__description,
body.usp-resize-font-125 .spotlight__description {
    height: auto !important;
}
body.usp-readable-font .header .menu__secondary li, body.usp-readable-font .header .menu__tertiary li {
    margin-right: 27px;
}
body.usp-high-contrast, body.usp-high-contrast *:not(#usp-toolbar):not(.usp-toolbar-link) {
    color: #fff;
    background: #000;
    background-color: #000;
    text-shadow: none;
    user-select: text;
    box-shadow: none;
}
body.usp-light-background, body.usp-light-background *:not(#usp-toolbar):not(.usp-toolbar-links) {
    background: #fff;
    color: #000;
}
body.usp-light-background .header .menu__logo, body.usp-light-background .header .menu__logo--mobile img { /*Sujay new set sh*/
    background: #e6e6e6 !important;
}
body.usp-light-background .header .menu__logo img { /*Sujay new set sh*/
    background: transparent !important;
}
body.usp-light-background .footer .footer__logo img { /*Sujay new set sh*/
    background: #e6e6e6 !important;
}
.fafa-space {
    padding-right: 7px
}
/* INNER */
body.usp-high-contrast .hero-banner *:not(#usp-toolbar):not(.usp-toolbar-links) {
    background: transparent;
}
body.usp-high-contrast .header .menu__dropdown:after {
    background-color: #000000;
}
body.usp-high-contrast .locations-map *:not(#usp-toolbar):not(.usp-toolbar-links) {
    background: transparent;
}
body.usp-high-contrast .locations-map .map div:nth-child(2) {
    background: #db623c;
}
body.usp-high-contrast .locations-map .map button.dismissButton {
    color: #1a73e8 !important;
}
body.usp-high-contrast .newDropdown button.dropbtn {
    border: 1px solid #565656;
    background: #e6643b !important;
}
body.usp-high-contrast .newDropdown .newDropdown-content {
    border: 1px solid #565656;
}
body.usp-high-contrast .btn--blue,
body.usp-high-contrast .btn--blue.btn--animated span {
    background: #287AB3 !important;
}
body.usp-high-contrast .slick-slider ul.slick-dots {
    background-color: #fff !important;
}
body.usp-high-contrast .slick-slider ul.slick-dots li button {
    background:#fff !important;
    background-color: #fff !important;
}
body.usp-high-contrast .slick-slider ul.slick-dots li.slick-active button {
    background: #3EC2CF !important;
    background-color: #3EC2CF !important;
}
body.usp-high-contrast .points select, body.usp-high-contrast .points input {
    background-color: #FFFFFF !important;
    color: #000 !important;
    border: 0;
}
body.usp-high-contrast .btn--inline,
body.usp-high-contrast .btn-inline {
    background: #287AB3 !important;
}
body.usp-high-contrast .progress-bar span,
body.usp-light-background .progress-bar span {
        background-color: #3EC2CF !important;
}
body.usp-high-contrast .signin ul:after {
    border-bottom: 20px solid #287ab3;
}
body.usp-high-contrast .signin ul {
    background-color: #287ab3 !important;
}
body.usp-high-contrast .signin ul li {
    background: #287ab3 !important;
}
body.usp-high-contrast .signin ul li a {
    background: #287ab3 !important;
    color: #fff !important;
}
body.usp-high-contrast .rte p span {
    color: #fff !important;
}

body.usp-light-background .hero-banner *:not(#usp-toolbar):not(.usp-toolbar-links) {
    background: transparent;
}
body.usp-light-background .locations-map *:not(#usp-toolbar):not(.usp-toolbar-links) {
    background: transparent;
}
body.usp-light-background .locations-map .map button.dismissButton {
    color: #1a73e8 !important;
}
body.usp-light-background .newDropdown button.dropbtn {
    border: 1px solid #ccc;
    background: #ccc !important;
}
body.usp-light-background .newDropdown .newDropdown-content {
    border: 1px solid #ccc;
}
/*body.usp-light-background .newDropdown-content .activeSideMenu,
body.usp-light-background .newDropdown-content .activeSideMenu .fa {
    background: #ccc !important;
}*/
body.usp-light-background .btn--blue,
body.usp-light-background .btn--blue.btn--animated span {
    background: #ccc !important;
}
body.usp-light-background .btn--white {
    border: 3px solid #ccc !important;
}
body.usp-light-background .btn--inline,
body.usp-light-background .btn-inline {
    background: #ccc !important;
}
body.usp-light-background .slick-slider ul.slick-dots {
    background-color: #ccc !important;
}
body.usp-light-background .slick-slider ul.slick-dots li button {
    background: #ccc !important;
    background-color: #ccc !important;
}
body.usp-light-background .slick-slider ul.slick-dots li.slick-active button {
    background: #000 !important;
    background-color: #000 !important;
}
body.usp-light-background .slick-prev:before, body.usp-light-background .slick-next:before {
    color: #000 !important;
}
body.usp-light-background .points select, body.usp-light-background .points input {
    background-color: #ccc !important;
    color: #000 !important;
    border: 0;
}
body.usp-light-background .checkbox input[type="checkbox"]:checked ~ .checkmark {
    background-color: #287AB3 !important;
    border-color: #3EC2CF !important;
    border-width: 1px !important;
}

body.usp-high-contrast .pika-lendar .pika-title,
body.usp-light-background .pika-lendar .pika-title {
    background-color: #287AB3 !important;
}
body.usp-high-contrast .pika-single .pika-prev,
body.usp-high-contrast .pika-single .pika-next,
body.usp-light-background .pika-single .pika-prev,
body.usp-light-background .pika-single .pika-next {
    color: #287AB3 !important;
}
body.usp-high-contrast .pika-single .is-selected .pika-button,
body.usp-light-background .pika-single .is-selected .pika-button {
    background: #287AB3 !important;
    -webkit-box-shadow: inset 0 1px 3px #287AB3 !important;
    box-shadow: inset 0 1px 3px #287AB3 !important;
    color: #fff !important;
}
body.usp-light-background .sidebar-filter__section__head:after {
    color: #000000;
}
body.usp-high-contrast .pagination__item--selected input,
body.usp-light-background .pagination__item--selected input {
    color: #FFFFFF !important;
    background-color: #287AB3 !important;
}
.related-course-list .related-item__details {
    height:auto !important;
    min-height: 386px !important;
}

body.usp-high-contrast .hero-banner .social-share .addthis_inline_share_toolbox {
    background-color: #ffffff !important;
}
body.usp-high-contrast .hero-banner .social-share .addthis_inline_share_toolbox:before {
    border-bottom: 10px solid #FFFFFF;
}

body.usp-light-background .hero-banner .social-share a, body.usp-light-background .hero-banner .social-share i {
    color: #FFFFFF !important;
}
body.usp-light-background .hero-banner .social-share .addthis_inline_share_toolbox {
    background-color: #ccc !important;
}
body.usp-light-background .hero-banner .social-share .addthis_inline_share_toolbox:before {
    border-bottom: 10px solid #ccc;
}

body.usp-light-background .signin ul:after {
    border-bottom: 20px solid #ccc;
}
body.usp-light-background .signin ul {
    background-color: #ccc !important;
}
body.usp-light-background .signin ul li {
    background: #ccc !important;
}
body.usp-light-background .signin ul li a {
    background: #ccc !important;
    color: #000 !important;
}

@media only screen and (max-width: 1023px) {
    body.usp-resize-font-115 .header .menu__dropdown__part > ul > li > a {
        font-size: 14px !important;
        line-height: normal !important;
    }
    body.usp-resize-font-120 .header .menu__dropdown__part > ul > li > a {
        font-size: 16px !important;
        line-height: normal !important;
    }
    body.usp-resize-font-125 .header .menu__dropdown__part > ul > li > a {
        font-size: 18px !important;
        line-height: normal !important;
    }   
    body.usp-high-contrast .header .menu__primary > li a {
        /*background-color: #287AB3 !important;*/ /*Sujay*/
        background-color: #39393a !important; /*Sujay*/
    }
    body.usp-high-contrast .header .menu__primary > li a:hover { /*Sujay new set*/
        background-color: #656565 !important;
    }
    body.usp-high-contrast .header .menu__primary.minify .oppened .menu__dropdown .menu__dropdown__part > ul a,
    body.usp-high-contrast .header .menu__secondary.minify .oppened .menu__dropdown .menu__dropdown__part > ul a {
        background-color: #000 !important;
        border-bottom: 2px solid #000 !important;
    }
    body.usp-high-contrast .header .menu__secondary *:not(#usp-toolbar):not(.usp-toolbar-links) {
        background: #f1f1f1 !important;
        background-color: #f1f1f1 !important;
        color:#000 !important;
    }
    body.usp-light-background .header .menu__primary > li a {
        /*background-color: #287AB3 !important;
        color: #fff !important;*/ /*SUjay*/
        background-color: #e4e4e4 !important; /*SUjay*/
        color: #000 !important; /*SUjay*/
    }
    body.usp-light-background .header .menu__primary > li a:hover { /*Sujay new set*/
        background-color: #bfbfbf !important;
    }
    body.usp-light-background .header .menu__primary.minify .oppened .menu__dropdown .menu__dropdown__part > ul a,
    body.usp-light-background .header .menu__secondary.minify .oppened .menu__dropdown .menu__dropdown__part > ul a {
        background-color: #fff !important;
        border-bottom: 2px solid #fff !important;
    }
    body.usp-light-background .header .menu__secondary *:not(#usp-toolbar):not(.usp-toolbar-links) {
        background: #f1f1f1 !important;
        background-color: #f1f1f1 !important;
        color: #000 !important;
    }
    body.usp-light-background .header .menu__primary.minify .oppened .menu__dropdown .menu__dropdown__part > ul a {
        color: #7c909e !important;
    }
    .breadcrumb-list li {
        padding-left:25px;
    }
    .breadcrumb-list li a {
        font-size: 0.875rem;
        padding-left: 0 !important;
    }
    .breadcrumb-list li a:after {
        font-size: 16px !important;
        top: 9px;
        left: -15px;
    }
    body.usp-resize-font-115 .breadcrumb-list li {
        padding-left:25px;
    }
    body.usp-resize-font-115 .breadcrumb-list li a {
        font-size: 18px !important;
        line-height: normal !important;
        padding-left: 0 !important;
    }
    body.usp-resize-font-115 .breadcrumb-list li a:after {
        font-size: 18px !important;
        top: 11px;
        left: -15px;
    }

    body.usp-resize-font-120 .breadcrumb-list li {
        padding-left:30px;
    }
    body.usp-resize-font-120 .breadcrumb-list li a {
        font-size: 20px !important;
        line-height: normal !important;
        padding-left: 0 !important;
    }
    body.usp-resize-font-120 .breadcrumb-list li a:after {
        font-size: 20px !important;
        top: 12px;
        left: -19px;
    }

    body.usp-resize-font-125 .breadcrumb-list li {
        padding-left:30px;
    }
    body.usp-resize-font-125 .breadcrumb-list li a {
        font-size: 22px !important;
        line-height: normal !important;
        padding-left: 0 !important;
    }
    body.usp-resize-font-125 .breadcrumb-list li a:after {
        font-size: 22px !important;
        top: 14px;
        left: -19px;
    }
}

@media only screen and (max-width: 767px) {
    body.usp-resize-font-115, body.usp-resize-font-120, body.usp-resize-font-125 {
        line-break: anywhere !important;
    }
    /*body.usp-resize-font-115 .header .menu__tertiary, body.usp-resize-font-120 .header .menu__tertiary, body.usp-resize-font-125 .header .menu__tertiary {
    line-break: normal !important;
    }*/
    .spotlight-tertiary__img {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .spotlight-tertiary a {
        width: 100% !important;
    }
    .spotlight-tertiary > * {
        display: block !important;
    }
}

@media only screen and (max-width: 479px) {
    /*.header .menu__tertiary {
    overflow-x: auto;
    }*/
}
@media only screen and (width: 812px) {
    .newDropdown-content {
        overflow-y: auto;
        max-height: 208px;
    }
}
@media only screen and (width: 736px) {
    .newDropdown-content {
        overflow-y: auto;
        max-height: 240px;
    }
}
@media only screen and (width: 667px) {
    .newDropdown-content {
        overflow-y: auto;
        max-height: 208px;
    }
}
@media only screen and (width: 653px) {
    .newDropdown-content {
        overflow-y: auto;
        max-height: 125px;
    }
}
@media only screen and (width: 640px) {
    .newDropdown-content {
        overflow-y: auto;
        max-height: 205px;
    }
}
@media only screen and (width: 568px) {
    .newDropdown-content {
        overflow-y: auto;
        max-height: 167px;
    }
}
@media only screen and (width: 480px) {
    .newDropdown-content {
        overflow-y: auto;
        max-height: 168px;
    }
}